body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #DADADA;
}

a {
  color: #AADEF2;
}

html {
  background-color: #AADEF2;
}

header {

}

.error404 {

}
